//colors
$primary-bg-color: #FFF;
$primary-font-color: #000;
$secondary-bg-color: #0d98ba;
$secondary-font-color: #FFF;

//fonts
$arial: arial, sans-serif;
$helvetica: helvetica, sans-serif;
$open-sans:  'Open Sans', sans-serif;
