
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #d3d3d3;
}

.box-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  margin: 0;
  padding: 0;
  min-height: 5vh;
}

header, footer {
  background: $secondary-bg-color;
  color: $secondary-font-color;
  width: inherit;
  margin: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  h2 {
    margin: 0 0 1%;
    padding: 1%;
  }
  ul li a, p {
    padding: 1%;
    font-size: 1.5rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab {
  overflow: hidden;
  border: 1px solid $secondary-font-color;
  background-color: $primary-bg-color;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  padding: 10px 10px;
}

.tab button:hover {
  background-color: darken($secondary-bg-color, 10%);
}

.tab button.active {
  background-color: darken($secondary-bg-color, 10%);
  color: #FFF;
}

.tab-child {
  display: none;
  padding: 20px 20px;
  border: 1px solid $secondary-font-color;
  border-top: none;
}

article {
  width: inherit;
}

article form {
  margin: 1%;
}

.box-container .item {
  align-content: space-evenly;
  height: 2vh;
}

.box-container .item:nth-child(2) {
  flex-grow: 2;
}

  header ul li {
    display: inline;
  }

  header ul li a {
    color: $secondary-font-color;
  }

  input[readonly] {
    background: #B0B0B0;
  }

  .proposal {
    width: 80%;
    margin: 2% 10%;
    padding: 2%;
    background: #FFF;
    border: 3px solid $secondary-bg-color;
    border-radius: 2%;
  }

  .proposal-creation {
    button {
      display: inline!important;
    }
    .proposal-field {
      margin: 2%!important;
      display: block;
      input[readonly] {
        background: #B0B0B0;
      }
    }
  }

  .red {
    color: #F00;
  }